body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Fondo gris claro */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 30px;
    font-weight: bold;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
}

.product-image {
    width: 100%;
    max-width: 200px; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-bottom: 15px;
}

.card-content h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    color: #555;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.price {
    font-size: 1.2em;
    color: #28a745; /* Color verde para el precio */
    font-weight: bold;
    margin-bottom: 15px;
}

.buy-button {
    background-color: #007bff; /* Color azul para el botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%; /* Opcional: para que ocupe todo el ancho */
}